{% extends 'mysite/base.html' %}

<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

{% block content %}
    <div class="post">

        <div class="date">
            {{ post.pub_date }}
        </div>

        <h1>{{ post.product }}</h1>
        <p>{{ post.description|linebreaksbr }}</p>

    </div>
    <hr>
    <a class="btn btn=default" href ="{% url 'add_comment_to_post' pk=post.pk %]">댓글달기,구매요청하기</a>
    {% for comment in post.comments.all %}
    {% if user.id_authenticated or comment.approved_comment %}
    <div class = "comment">
        <div class = "date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class = "btn btn-default" href = "{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class = "btn btn-default" href = "{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p> {{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %}
        <p> 아무도 댓글을 달거나 구매요청을 하지 않았습니다! </p>
    {% endfor %}

{% endblock %}




